In [16]:
import shutil
import sqlite3
from datetime import datetime
from os import listdir
import os
import csv

In [2]:
conn = sqlite3.connect('C:/Users/ADMIN/Desktop/Cars24 E2E/code/Training_Database'+'Training'+'.db')

In [3]:
c=conn.cursor()

In [4]:
column_names = {'Sl_No': ' integer', 'Full_Info': ' varchar', 'Transmission_Type': ' char', 'Ownership': ' varchar', 'Fuel_Used': ' char', 'brand_name': ' varchar', 'km_driven': ' integer', 'selling_price': ' integer', 'Year_of_Manufacture': ' integer', 'Place_of_Origin': ' varchar', 'Age': ' integer'}

In [5]:
c.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table'AND name = 'Good_Raw_Data'")

In [6]:
try:
        #print(column_names)
        #conn = dataBaseConnection(DatabaseName)
        #c=conn.cursor()
        c.execute("SELECT count(name)  FROM sqlite_master WHERE type = 'table'AND name = 'Good_Raw_Data'")
        if c.fetchone()[0] ==1:
            #conn.close()
            pass

        else:
            for key in column_names.keys():
                type = column_names[key]

                    #in try block we check if the table exists, if yes then add columns to the table
                    # else in catch block we will create the table
                try:
                        #cur = cur.execute("SELECT name FROM {dbName} WHERE type='table' AND name='Good_Raw_Data'".format(dbName=DatabaseName))
                    conn.execute('ALTER TABLE Good_Raw_Data ADD COLUMN "{column_name}" {dataType}'.format(column_name=key,dataType=type))
                except:
                    conn.execute('CREATE TABLE  Good_Raw_Data ({column_name} {dataType})'.format(column_name=key, dataType=type))


            #conn.close()


except Exception as e:

    print('entering exception')
    conn.close()
    #file = open("C:/Users/ADMIN/Desktop/Cars24 E2E/code/Training_Logs/DataBaseConnectionLog.txt", 'a+')

    raise e

In [7]:
list_ = ['0,2015 Maruti Swift,Manual,1st Owner,Diesel,Maruti-Swift,46245,432499,2015,New_Delhi,7']

In [8]:
conn.execute('INSERT INTO Good_Raw_Data values ({values})'.format(values=(list_)))
#self.logger.log(log_file," %s: File loaded successfully!!" % file)
conn.commit()

OperationalError: no such column: '0,2015 Maruti Swift,Manual,1st Owner,Diesel,Maruti-Swift,46245,432499,2015,New_Delhi,7'

In [18]:
row = c.fetchone()

In [19]:
names = row.keys()

AttributeError: 'NoneType' object has no attribute 'keys'

In [17]:
c.execute('''INSERT INTO Good_Raw_Data(Sl_No, Full_Info, Transmission_Type, Ownership, Fuel_Used,brand_name,km_driven,selling_price,Year_of_Manufacture,Place_of_Origin,Age) 
                       VALUES (0,'2015 Maruti Swift','Manual','1st Owner','Diesel','Maruti-Swift',46245,432499,2015,'New_Delhi',7)''')

In [21]:
conn.commit()

In [22]:
print('\nData in EMPLOYEE table:')
data=c.execute('''SELECT * FROM Good_Raw_Data''')
for row in data:
    print(row)

Data in EMPLOYEE table:
(0, '2015 Maruti Swift', 'Manual', '1st Owner', 'Diesel', 'Maruti-Swift', 46245, 432499, 2015, 'New_Delhi', 7)

In [2]:
import pandas as pd

In [12]:
csv = pd.read_csv("C:/Users/ADMIN/Desktop/Cars24 E2E/code/Training_Batch_Files/file5_semicleaned.csv")

In [13]:
csv.dtypes

Sl_No                  int64
Transmission_Type     object
Ownership             object
Fuel_Used             object
km_driven              int64
Ex_Showroom_Price    float64
On_road_Price        float64
selling_price          int64
Place_of_Origin       object
Complete_Info         object
Age                    int64
MRP                  float64
dtype: object

In [14]:
csv2 = pd.read_csv("C:/Users/ADMIN/Desktop/Cars24 E2E/Datasets Repo/file9_semicleaned.csv")

In [15]:
csv2.dtypes

Sl_No                  int64
Full_Info             object
Transimission_Type    object
Ownership             object
Fuel_Used             object
brand_name            object
km_driven              int64
selling_price          int64
Year_of_Manuacture     int64
Place_of_Origin       object
Age                    int64
dtype: object

In [ ]:
conn = sqlite3.connect('C:/Users/ADMIN/Desktop/Cars24 E2E/code/Training_Database'+'Training2'+'.db')
c=conn.cursor()